.container
{
    max-width: fit-content;
    margin: auto;
    border: 3px solid black;
    border-radius: 10%;
    padding: 30px;
}
.heading
{
    max-width: fit-content;
    margin: auto;
}

.input
{
    padding: 20px;
}

.zero
{
    width: 29.3%;
    margin-top: 5px;
}

#clear
{
    width:38.3%
}
.PlusMinusDivideMulti
{
    font-size: 20px;
    padding: 18px;
    width: 50px;
    margin-top: 2px;
}

.EqualPow
{
    margin-top: 5px;
    width: 18.4%;
    height: 60px;
}
.ScreenInput
{
    text-align: right;
    font-size: 20.5px;
    padding: 10px;
}
#value0
{
    border-bottom: 0px;
    /* display: none; */
    background-color: rgb(129, 245, 129);
}
#value1
{
    border-bottom: 0px;
    border-top: 0px;
    background-color: rgb(129, 245, 129);
    /* display: none; */
}
#value2
{
    background-color: rgb(129, 245, 129);
    /* display: none; */
    border-top: 0px;

}
#value3
{
    border-top: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}