.container
{
    max-width: fit-content;
    margin: auto;
    border: 3px solid black;
    border-radius: 4%;
    padding: 20px;
}
.heading
{
    max-width: fit-content;
    margin: auto;
}

input
{
    padding: 20px;
}

.zero
{
    width: 29.3%;
    margin-top: 5px;
}

#clear
{
    width:38.3%
}
.PlusMinusDivideMulti
{
    font-size: 20px;
    padding: 18px;
    width: 50px;
    margin-top: 2px;
}

.EqualPow
{
    margin-top: 5px;
    width: 18.4%;
    height: 60px;
}
#value
{
    text-align: right;
    font-size: 18.9px;
}